$base-font-family: "Georgia", serif;
$primary-color: #3498db;
$hover-color: #ffeb3b;
$background-gradient: linear-gradient(to right, #fff0f0, #e0f7fa);
$text-color: #333;

body {
  font-family: $base-font-family;
  background: $background-gradient;
  color: $text-color;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}


section {
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    font-size: 28px;
    color: $primary-color;
  }

  ul {
    list-style: circle;
    padding-left: 20px;

    li {
      margin: 10px 0;
    }
  }
}

footer {
  text-align: center;
  padding: 15px;
  background: $primary-color;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;

  label {
    font-weight: bold;
    margin-top: 10px;
  }

  input[type="text"],
  input[type="email"],
  textarea,
  select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    transition: border-color 0.3s;

    &:focus {
      border-color: $primary-color;
    }
  }

  button {
    padding: 10px 20px;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

  }
}
